<h1>New ページ</h1>

<%= form_with model: @post do |form| %>
 <div>
    <%= form.label :title %> <%= form.text_field :title %>
</div>
<div>
    <%= form.label :content %> <%= form.text_area :content %>
</div>
    


<% end %>